h1, h2 {
  font-family: Lato;
}
body{
  background-image: url('https://th.bing.com/th/id/OIP.iL12gXXoS9IorW6SNe6xBQHaEK?pid=Api&rs=1');
  background-repeat: no-repeat;
  background-position: top right;
}